body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./images/house.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-flex {
  display: flex;
  background-color: red;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2rem;
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 50vh;
}

.main-flex {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-end;
}

.socials {
  color: #fff;
  transform: rotate(270deg);
  margin: 8rem 1rem;
  margin-bottom: 0;
  text-transform: uppercase;
  /* padding: 5px 15px; */
  letter-spacing: 6px;
}

/* .socials p {
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 0 0 10px 0;
  line-height: 24px;
} */

.h1 {
  margin-bottom: 0
}

.colour {
  color: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

/* .image {
  height: 100vh;
  background-image: url(./images/house.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */